:root {
  --primary: hsl(0, 4%, 7%);
  /* --on-primary: hsl(60, 7%, 92%); */ /* old */
  --on-primary: hsl(0, 0%, 62%);
  /* --accent: hsl(0, 100%, 82%); */
  --accent: hsl(0, 70%, 82%);
  --outline: hsl(0 0% 62%);
}
html {
  background: var(--primary);
  font-family: 'Jetbrains Mono';
}
body {
  color: var(--on-primary);
  margin: 0;
}
a {
  color: var(--accent);
}

main {
  margin: 0 0.5rem 0.5rem 0.5rem ;
}

h1 {
  margin: 0.2rem 0 0 0;
}