---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About';
---

<BaseLayout pageTitle={pageTitle}>
	<button id='potato-button'>🥔</button>
</BaseLayout>
<style>
	#potato-button {
		background-color: black;
		margin: 0;
		font-size: 1620%;
	}
</style>
