---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab a
			labore asperiores architecto harum veritatis ipsam tempora maxime
			quia, dolorem, dolores, hic nulla. Sequi officia quo maxime nobis
			placeat.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab a
			labore asperiores architecto harum veritatis ipsam tempora maxime
			quia, dolorem, dolores, hic nulla. Sequi officia quo maxime nobis
			placeat.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab a
			labore asperiores architecto harum veritatis ipsam tempora maxime
			quia, dolorem, dolores, hic nulla. Sequi officia quo maxime nobis
			placeat.
		</p>
	</main>
</BaseLayout>
