---

---

<h1>Register</h1>
<form method='POST'>
	<label>
		Username:
		<input
			type='text'
			name='username'
			required
		/>
	</label>
	<label>
		Email:
		<input
			type='email'
			name='email'
			required
		/>
	</label>
	<label>
		Password:
		<input
			type='password'
			name='password'
			required
			minlength='6'
		/>
	</label>
	<button>Submit</button>
</form>
