---
import BaseLayout from '../layouts/BaseLayout.astro';
/* Note: On clicking submit, you can see the post-request payload (ie, the data in the body of the post-request). To see it, go to Chrome Inspector > Network > 'register'. You'll see the user, email, password data. */
---

<BaseLayout pageTitle='Register'>
	<h1>Register</h1>
	<form method='POST'>
		<label>
			Username:
			<input
				type='text'
				name='username'
				required
			/>
		</label>
		<label>
			Email:
			<input
				type='email'
				name='email'
				required
			/>
		</label>
		<label>
			Password:
			<input
				type='password'
				name='password'
				required
				minlength='6'
			/>
		</label>
		<input
			type='submit'
			value='Submit'
			onclick="console.log('hi')"
		/>
	</form>
</BaseLayout>
