---

---

<footer>
	<p>
		Copyright <span id='copyright'>&copy;</span> 1974-{
			new Date().getFullYear()
		} Working Title. All Rights Reserved.
	</p>
</footer>
<style>
	footer {
		border-top: solid 1px var(--outline);
		padding: 0.5rem;
		margin-top: 2rem;
	}
	#copyright {
		font-size: 1.2em;
		line-height: 0em;
	}
	p {
		margin: 0;
	}
</style>
