---

---

<footer>
	<p>
		Copyright <span id='copyright'>&copy;</span> 1974-{
			new Date().getFullYear()
		} Working Title. All Rights Reserved.
	</p>
</footer>
<style>
	footer {
		border-top: solid white 1px;
	}
	#copyright {
		font-size: 1em;
	}
</style>
