---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import { base } from 'astro:config/client';
---

<header>
	<a
		href={base + `/`}
		id='org-name'
		>Working Title
	</a>
	<div>
		<Navigation />
		<ThemeIcon />
	</div>
</header>
<style>
	header {
		display: inline;
	}
	div {
		display: inline;
	}
</style>
