---
import Navigation from './Navigation.astro';
---

<header>
	<a
		href='/tremendous-telescope/'
		id='org-name'
		>Working Title
	</a>
	<Navigation />
</header>
<style>
	header {
		display: flex;
		align-items: center;
		border-bottom: solid 1px var(--outline);
		padding: 0 0.5rem;
	}
	#org-name {
		color: var(--on-primary);
	}
</style>
