---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import { base } from 'astro:config/client';
---

<header>
	<a
		href={base}
		id='org-name'
		>Working Title</a
	>
	<div>
		<Navigation />
		<details>
			<summary> &#x1F50D;</summary>Details go here
		</details>
		<ThemeIcon />
	</div>
</header>
<style>
	header {
		display: flex;
	}
	div {
		display: flex;
		gap: 0.5rem;
	}
	summary {
		list-style-type: none;
	}
</style>
