---
import Navigation from './Navigation.astro';
---

<header>
	<a
		href='/'
		id='org-name'
		>Working Title
	</a>
	<Navigation />
</header>
<style>
	header {
		display: flex;
		align-items: center;
		border-bottom: solid white 1px;
	}
	#org-name {
		color: var(--on-primary);
	}
</style>
