---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<a
		href='/tremendous-telescope/'
		id='org-name'
		>Working Title
	</a>
	<div>
		<Navigation />
		<ThemeIcon />
	</div>
</header>
<style>
	header {
		display: inline;
	}
	div {
		display: inline;
	}
</style>
