---

---

<nav>
	<menu>
		<li><a href={`/tremendous-telescope/`}>Home</a></li>
		<li><a href={`/tremendous-telescope/logs`}>Logs</a></li>
		<li><a href={`/tremendous-telescope/about`}>About</a></li>

		<li id='push-end'>
			<a
				id='search-link'
				href={`/tremendous-telescope/search`}
				>&#x1F50D;</a
			>
		</li>
	</menu>
</nav>

<style></style>
