---
import { base } from 'astro:config/client';
---

<nav class='nav-links'>
	<ul>
		<li><a href={base + `/`}>Home</a></li>
		<li><a href={base + `/logs`}>Logs</a></li>
		<li><a href={base + `/about`}>About</a></li>

		<li id='push-end'>
			<a
				id='search-link'
				href={base + `/search`}
				>&#x1F50D;</a
			>
		</li>
	</ul>
</nav>

<style>
	nav {
		display: inline-block;
	}
	ul {
		display: flex;
		list-style: none;
		gap: 1rem;
	}
</style>
