---

---

<nav class='nav-links'>
	<ul>
		<li><a href={`/`}>Home</a></li>
		<li><a href={`/logs`}>Logs</a></li>
		<li><a href={`/about`}>About</a></li>
		<li><a href={`/register`}>Register</a></li>
	</ul>
</nav>

<style>
	nav {
		display: inline-block;
	}
	ul {
		display: flex;
		list-style: none;
		gap: 0.5rem;
		padding-inline-start: 1rem;
		margin: 0;
	}
</style>
