---
interface Props {
	pageTitle: string;
}
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
import { base } from 'astro:config/client';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href={base + `/favicon.svg`}
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{pageTitle}</title>
		<link
			href={base + `/pagefind/pagefind-ui.css`}
			rel='stylesheet'
		/>
		<script
			src={base + `/pagefind/pagefind-ui.js`}
			is:inline
		></script>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
	<div id='search'></div>
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			// @ts-ignore
			new PagefindUI({
				baseUrl: '/tremendous-telescope/',
				element: '#search',
				debounceTimeoutMs: 500,
				showEmptyFilters: false,
				showSubResults: true,
			});
		});
	</script>
</html>
<style is:global>
	/* Some of these shouldn't be global */

	/* Individual page styling */
	h2 {
		display: inline-block;
		font-size: 1rem;
		padding: 0;
	}
</style>
